.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-content {
  --background: -webkit-linear-gradient(278deg, rgb(38, 100, 115) 0%, rgb(69, 163, 163) 28%, rgb(123, 202, 196) 48%, rgb(176, 234, 222) 68%, rgb(204, 237, 228) 100%);
  --background: -o-linear-gradient(278deg, rgb(38, 100, 115) 0%, rgb(69, 163, 163) 28%, rgb(123, 202, 196) 48%, rgb(176, 234, 222) 68%, rgb(204, 237, 228) 100%);
  --background: -ms-linear-gradient(278deg, rgb(38, 100, 115) 0%, rgb(69, 163, 163) 28%, rgb(123, 202, 196) 48%, rgb(176, 234, 222) 68%, rgb(204, 237, 228) 100%);
  --background: -moz-linear-gradient(278deg, rgb(38, 100, 115) 0%, rgb(69, 163, 163) 28%, rgb(123, 202, 196) 48%, rgb(176, 234, 222) 68%, rgb(204, 237, 228) 100%);
  --background: linear-gradient(172deg, rgb(38, 100, 115) 0%, rgb(69, 163, 163) 28%, rgb(123, 202, 196) 48%, rgb(176, 234, 222) 68%, rgb(204, 237, 228) 100%);

}
ion-card{
  background-color: white;
}